---
---
  
html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}

.scroll {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

section {
      margin: auto;
  width: 640px;
  min-height: 100%;


  h1, h2, h3, ul, & > p, blockquote, pre {

  }
}


footer {

  padding: 40px 0 40px 40px;
  p {
      width: 640px;
    margin: auto;
  }
}

@media print, screen and(max-width: 820px) {
  
  nav {
    float: none;
    position: static;
    width: auto;
    margin-left: 0;
    width: 100%;
    
    h1 {
      padding-top: 15px;
    }
    
    h1, h2, ul {
      padding-left: 15px;
    }
    
    hr {
      max-width: none !important;
    } 
  }
  
  section {
    float: none;
    position: static;
    width: auto;
    margin-left: 0;
    border-width: 1px 0;
    margin: 0 0 20px;
    padding: 15px 15px 0 15px;
  }
  
  footer {
    float: none;
    position: static;
    width: auto;
    margin-left: 0;
    padding: 0 0 15px 15px;
  }
  
  div.wrapper {
    width: auto;
    margin: 0;
  }
}